@charset "UTF-8";
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    /*word-break:break-all;*/
    word-wrap:break-word;
}
*{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
button{
	background: none;
	border: none;
}
input{
    white-space:nowrap;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
*{
    background-repeat: no-repeat;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
ul,li,ol{
    list-style: none;
}
img{
    border: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
body{
    position: relative;
	background: #e1e4eb;
}
.content{
    min-height: 100%;
}
a{
    text-decoration: none;
    border: none;
    outline: none;
    tap-highlight-color: rgba(0,0,0,0);
    focus-ring-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-focus-ring-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
    -moz-focus-ring-color: rgba(0, 0, 0, 0);
}
input,button{
    outline: none;
}
body {
    padding: 0;
    margin: 0;
    font-family: Helvetica,sans-serif;
    font-size: 16px;
    color: #333;
    text-align: left;
}

.layout-box {
    display: flex;
}
.layout-box .son-box {
    flex: 1;
    width: 100%;
    position: relative;
	color: #333;
}
.son-box.on {
	color: #1388ff;	
}
.fixed{
	position: fixed;
}
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
.left{
	left: 0px;
}
.right{
	right: 0px;
}
.text-center{
	text-align: center;
}

.textarea-head .text-btn{
	width: 48px;
	text-align: center;
	display: inline-block;
	line-height: 24px;
	border: 1px solid #666;
	border-radius: 3px;
	font-size: .8rem;
	color: #666;
}
.textarea-head .blue-btn{
	border-color: #1388ff;
	color: #1388ff;
}
.big-btn{
	line-height: 32px;
	width: 44%;
}
.text-btn.active{
    background: #ddd;
}
.blue-btn.active{
	background: #cce5ff;
}
.imgico{
	background: url('/images/ico.png');
	background-size: 150px;
}

.back-ico{
	display: inline-block;
	width: 8px;
	height: 15px;
	background-position: -41px -2px;
	vertical-align: middle;
	margin: -2px 4px 0 0;
}
.back-menu, .right-menu{
	padding: 0px 15px;
}
.menu-ico{
	display: inline-block;
	width: 19px;
	height: 15px;
	background-position: -52px -2px;
	vertical-align: middle;
}
.back-menu.active, .right-menu.active{
	background: #444;
}

.iblock{
	display: inline-block;
}
.gray{
	color: #888;
}

.orange{
	color: #ff6000;
}
.fr{
	float: right;
}
.fl{
	float: left;
}
.clearfix:after{
  content: "020"; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;  
  }

.clearfix {
  /* 触发 hasLayout */ 
  zoom: 1; 
  }
.bg-white{
	background: #fff;
}
.text-right{
	text-align: right;
}

.big-btn.bg-blue{
	border: 1px solid #0072ff;
	background: #1388ff;
	color: #fff;
}


.big-btn.active{
	background: #d0e7ff;
}
.bg-blue.active{
	background: #006edc;
}
footer.footer{
	position: fixed;
	bottom: 0px;
	width: 100%;
}
.footer-blank{
	height: 71px;
}



//暂时把所有的css都写在同一个文件里吧。
//
//
input{
	height:30px;
}